/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.main_div_todo {
    width: 100%;
    height: 100vh;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.centre_div_todo {
    margin: auto;
    min-width: 20%;
    height: fit-content;
    width: fit-content;
    min-height: 40vh;
    background-color: aliceblue;
    box-shadow: 5px 5px 25px -5px rgb(0, 0, 0);
    border-radius: 5%;
    padding-bottom: 10px;
    /* padding-right: 10px; */
}

.h1_todo {
    color: white;
    background: transparent;
    background-color: #3140df;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px -5px rgb(0, 0, 0);
}

.row_2 {
    display: flex;
    margin: auto;
    justify-content: center;
}

.input_todo {
    text-align: center;
    height: 25px;
    top: 10px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border: none;
    border-bottom: 2px solid rgb(0, 132, 255);
    color: #0084ff;

}

.button_todo_add {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    color: #fff;
    font-weight: 1000;
    cursor: pointer;

    line-height: 1;
    font-size: 1rem;
    text-align: center;

}

.button_todo_save {
    width: 60px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.button_todo_del {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    color: #fff;
    font-weight: 1000;
    cursor: pointer;

    line-height: 1;
    font-size: 1rem;
    text-align: center;
}

ol {
    /* margin-top: 30px; */
}

ol li {
    /* margin-top: 5px; */
    list-style-type: none;
    word-wrap: break-word;
}

.list_items {
    margin-top: 10px;
    display: flex;
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
    /* padding-left: 5px; */
    color: #3d93f4;
    margin-right: 10px;
}

.list_item {
    margin-left: 10px;
}